* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ff8e8e;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: #c2a837;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 9999;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .08);
}

.nav-links {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: .3s;
}

.nav-links a:hover {
    color: #ff9800;
}

.active {
    color: #fff;
}

/* Hero */
.hero {
    height: 80vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.55)),
        url("../IMAGES/healthcare.avif");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    color: white;
    max-width: 800px;
}

.overlay h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.btn {
    background: #ff3232;
    color: #000;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 10px;
    font-weight: bold;
}

/* Programs */
.programs {
    padding: 70px 20px;
    text-align: center;
}

.programs h2 {
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 260px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

/* Impact */
.impact {
    padding: 70px 20px;
    text-align: center;
}

.impact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.impact-box {
    background: white;
    width: 220px;
    padding: 30px;
    border-radius: 15px;
}

.impact-box h3 {
    font-size: 40px;
    color: #f40000;
}

/* Volunteer */
.volunteer {
    background: white;
    padding: 70px 20px;
    text-align: center;
}

.volunteer button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    background: #ff3c3c;
    color: white;
    cursor: pointer;
}

/* Donation */
.donation {
    background: #fff0f3;
    padding: 70px 20px;
    text-align: center;
}

.donation button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    background: #000000;
    color: white;
    cursor: pointer;
}

/* Contact Cards */
.contact-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
}

.contact-card {
    width: 250px;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

/* Footer */
footer {
    background: #5c3939;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Health Tips */
.health-tips {
    padding: 70px 20px;
    text-align: center;
    background: #ffffff;
}

.health-tips h2 {
    margin-bottom: 40px;
}

.tips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.tip-card {
    width: 250px;
    background: #f8f9fa;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

/* Emergency Banner */

.emergency-banner {
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient(135deg, #ff4d4d, #ff7675);
    color: white;
}

.emergency-banner h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.emergency-banner p {
    font-size: 18px;
    margin-bottom: 25px;
}

.emergency-btn {
    display: inline-block;
    padding: 15px 35px;
    background: white;
    color: #ff4d4d;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

/* Emergency Section */
.emergency-banner {
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient(135deg, #ee264b, #ff8fa3);
    color: white;
}

.emergency-banner h2 {
    font-size: 55px;
    margin-bottom: 15px;
}

.emergency-banner p {
    font-size: 22px;
    margin-bottom: 25px;
}

.emergency-btn {
    background: white;
    color: #000000;
    border: none;
    padding: 15px 35px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* Popup */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background: white;
    width: 400px;
    max-width: 90%;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    position: relative;
}

.popup-content h2 {
    margin-bottom: 20px;
    color: #333;
}

.popup-content input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background: #ff4d6d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}